@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h2>Edit</h2>

<h4>Edit this treat's info: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Name")
  @Html.EditorFor(model => model.Name)

  @Html.Label("Description")
  @Html.EditorFor(model => model.Description)

  @Html.Label("Price")
  @Html.EditorFor(model => model.Price)

  <input type="submit" value="Save" />
}
