@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h2>Edit</h2>

<h4>Edit this treat's info: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Name")
  <br />
  @Html.EditorFor(model => model.Name)
  <br />  
  @Html.Label("Description")
  <br />
  @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "description-input col-md-2" } })
  <br />
  @Html.Label("Price")
  <br />
  @Html.EditorFor(model => model.Price)
  <br />
  <br />
  <input type="submit" value="Save" />
}
